body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #338cf2;
    font-weight: 100;
}

.btn-default {
    float: right;
    background-color: #0759BC;
    border-color: #0759BC;
    color: white;
}
.btn-default:hover {
    float: right;
    background-color: #0759BC;
    border-color: #0759BC;
    color: white;
}
#sidebar-wrapper {

    height: 100%; /* 100% Full-height */
    width: 200px; 
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0;
    left: 0;
    background: linear-gradient(69deg, rgba(74,144,226,0.8), rgba(57,148,255,0.8) 12%, rgba(63,150,253,0.8) 19%, rgba(86,158,242,0.8) 49%, rgba(19,110,216,0.8));
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: auto;
    padding-top: 30px; /* Place content 60px from the top */
    padding-right: 30px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sidebar-nav {

    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;

}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav > .sidebar-brand {
    font-family: 'Roboto', sans-serif;
    text-align: right;
    color: #ecf0f1;
    height: 65px;
    font-size: 22px;
    line-height: 60px;
}
.sidebar-nav li a {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    display: block;
    text-decoration: none;
    color: rgba(255,255,255,0.5);
}


#page-content-wrapper {

    padding-right: 50px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-left: 230px;
}

@media (min-width: 880px) {
    #page-content-wrapper {
        width: 650px;
    }
}

.table {
    margin-top: 20px;
}
.table tr {
    padding: 0px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.table tr:hover {
    background-color: #f5f5f5;
}
.table td {
    padding: 10px 10px;
}

.table a {
    color: #555;
}

.table a:focus, a:hover {
    text-decoration: none;
    color: #555;
}

.full-width {
    width: 100%
}

.show-table td:first-child{
    font-weight: bold;
}

.btn-circle.btn-lg {
    position: fixed;
    left: 230px;
    bottom: 40px;
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

